* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin:0px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #337245;
    color:#eee;
    height:60px;
    width:98%;
    margin:5px auto;
    border-radius: 30px;
    display:flex;
    font-size: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    justify-content: space-between;
    transition: 0.1s ease-out;
}

.header-content {
    margin:auto 20px;
    width:fit-content;
}

#sitename {
    padding-right: 10px;
    border-right: 1px solid #eee;
    font-weight: bold;
}

#collapseButtonHeader, .header-button {
    cursor: pointer;
    border-radius: 5px;
    margin-top:0;
    background-color: #45965c;
    color: #eee;
    padding:8px 0px;
    width:90px;
    border:none;
    text-align:center;
    outline:none;
    font-size:20px;
}

#links-to-pages {
    position: relative;
    width:fit-content;
}

#links-wrapper {
    overflow: hidden;
    background-color: #689575;
    max-height: 0px;
    overflow:hidden;
    transition: max-height 0.1s ease-out, padding 0.1s ease-out;
    position: absolute;
    top:100%;
    width:100px;
    z-index:100;    /* makes it render over other elements */
    transform: translateX(90%);
    border-radius: 5px;
}

#links-wrapper a {
    display:inline-block;
    margin:0px;
    font-size:20px;
    color:#eee;
    cursor: pointer;
    width:96px;
    height:30px;
    border-radius: 5px;
    padding:7px 0px 0px 6px;
}

header a {
    display:inline-block;
    text-decoration: none;
}

#links-to-pages a:hover, #links-to-pages button:hover, .dropdown-option-header:hover {
    background-color:#82b290
}

.clickable-link-to-page {
    width:90px;
}

.header-button {
    width:90px;
}

#toggle-header {
    height:30px;
    width:30px;
    border: 1px solid black;
    border-radius: 0px;
    float:right;
    margin:4px 2px 0px 15px;
}

.game-options {
    width:fit-content;
    margin:auto;
}

main {
    font-size: 25px;
    flex:1;
}

#index-main {
    margin-top: 20vh;
}

footer {
    background-color: #337245;
    color:#eee;
    height:40px;
    width:98%;
    margin:30px auto 10px auto;
    border-radius: 30px;
    display:flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.game-option-main {
    display: inline-flex;
    margin:5px;
    color:white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    align-content: center;
    vertical-align: middle;
}

.game-option-main div {
    width:150px;
    height:150px;
    background-size: 150px 150px;
    border-radius: 10px;
    border:2px grey solid;
    background-repeat: no-repeat;
    line-height: 145px;
}

.other-options-main {
    display: block;
    height:50px;
    width:498px;
    margin:10px auto;
    color:white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    align-content: center;
    background-color: #000;
    border: 2px solid #656565;
    border-radius: 10px;
}

#game-option-wordle div {
    background-image: url("../images/wordle.png");
}

#game-option-snake div {
    background-image: url("../images/wordle.png");
}

#game-option-gewinnt div {
    background-image: url("../images/wordle.png");
}

.game-option-main:hover, .other-options-main:hover {
    transform: translateY(3px);
}

.game-title {
    width:fit-content;
    margin:20px auto 0px auto;
}

.game-subtitle {
    width:fit-content;
    margin:-10px auto 5px auto;
    font-size: 15px;
}

.game-options-menu {
    width:180px;
    margin:10px auto;
    background-color: #dbdbdb;
    border: 2px solid #656565;
    border-radius: 6px;
    padding:5px 0px;
}

.game-options-menu p {
    font-size:20px;
    width:fit-content;
    margin:auto;
}

.options-button {
    margin:0px 3px;
    padding:4px 0px;
    width:70px;
    text-align:center;
    font-size:18px;
    border-radius: 5px;
    cursor: pointer;
}

.game-options-menu div {
    width:fit-content;
    margin:auto;
    display: flex;
}

#wordle-game-board {
    width:fit-content;
    height:fit-content;
    margin:auto;
}

.wordle-row {
    display:flex;
}

.wordle-text-input-box {
    width:75px;
    height:75px;
    margin:4px 1px;
    background-color: gainsboro;
    border: 5px solid grey;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    line-height:89px;
    color:black;
    font-size: 60px;
    font-weight: bold;
}

#comment-wordle, #comment-gewinnt {
    width:fit-content;
    margin:2px auto;
    font-size: 20px;
    font-weight: bold;
}

#meta-message-wordle, #meta-message-gewinnt {
    width:fit-content;
    margin:2px auto;
    font-size: 15px;
}

#gewinnt-game-board {
    width:fit-content;
    height:fit-content;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.gewinnt-row {
    display:flex;
}

#gewinnt-rows-wrapper {
    background-color: darkblue;
    padding:0px 20px 20px 20px;
    border-radius:10px;
}

.gewinnt-tile-wrapper {
    width:75px;
    height:75px;
    margin:1px;
    border:darkblue solid 1px;
    background-color: whitesmoke;
}

.gewinnt-tile {
    width:70%;
    height:70%;
    border: 11.2px solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height:89px;
    color:black;
    font-size: 60px;
    font-weight: bold;
}

.gewinnt-input-row {
    display:flex;
    justify-content: center;
    height:75px;
    width:100%;
}

.gewinnt-input-row button {
    width:75px;
    cursor: pointer;
    margin:2px;
    border-radius: 0px;
    border: 1px solid;
    background-color: transparent;
    border-color: transparent;
}

#snake-game-board {
    width:fit-content;
    height:fit-content;
    margin:auto;
    display: flex;
    flex-direction: column;
    border:7px solid red;
}

.snake-row {
    width:fit-content;
    height:fit-content;
    display: flex;
}

.snake-block {
    width:50px;
    height:50px;
    margin:0px;
    border:1px solid white;
    border-radius: 5px;
    background-color: darkblue;
}