.gewinnt-tile[color="1"] {
    background-color: #ff4d4d;
    border-color: red;
}

.gewinnt-tile[color="2"] {
    background-color: yellow;
    border-color: yellowgreen;
}

.gewinnt-tile[color="3"] {
    background-color: hsla(0, 100%, 65%, 0.3);
    border-color: rgba(255, 0, 0, 0.3);
}

.gewinnt-tile[color="4"] {
    background-color: rgba(255, 255, 0, 0.3);
    border-color: rgba(153, 205, 50, 0.3);
}
